body {
  margin: 0;
  overscroll-behavior: none;
}

html {
  touch-action: pan-x pan-y;
  min-height: 100%; /* prevent pinch-zoom at page bottom */
}

/* prevent pull-to-refresh for Safari 16+ */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior: none)  {
    html {
      min-height: 100.3%;
      overscroll-behavior: none;
    }
  }
}
/* prevent pull-to-refresh for Safari 9~15 */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior: none))  {
    html {
      height: 100%;
      overflow: hidden;
    }
    body {
      margin: 0px;
      max-height: 100%; /* or `height: calc(100% - 16px);` if body has default margin */
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    /* in this case to disable pinch-zoom, set `touch-action: pan-x pan-y;` on `body` instead of `html` */
  }
}

.preview {
  border: 2px solid black;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  animation: box-alternate 500ms steps(2, jump-none) infinite;
}

@keyframes box-alternate {
  from {
    border-width: 4px 2px 2px 4px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
  }
  to {
    border-width: 2px 2px 4px 4px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
  }
}